.clientes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.column{
    display: flex;
    flex-direction: column;
    img {
            height: 60px;
    }
}
#primera-base {
    text-align: center;
    .primera-base-header{
        background-color: black;
        color: white;

    }
    tr.primera-base-row td{
        height: 40px;
    }
}
